
     <nav class="col-sm-3 noPadding" id="myScrollspy">
       <ul class="nav nav-pills nav-stacked">
         <li class="active"><a href="#section1" style="margin-left: 0px !important;">Calamansi</a></li>
         <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#section21">Food</a></li>
              <li><a href="#section22">Wine & Spirit</a></li>                     
            </ul>
          </li>
         
         <li><a href="#section3">Menu</a></li>
         <li><a href="#section4">Contact</a></li>
         <li><a href="#section5">Events</a></li>
       </ul>
     </nav>
